<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.advancecontroldemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BaseAdapterDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SimpleAdapterDemoActivity">

        </activity>
        <activity android:name=".ArrayAdapterDemoActivity">


        </activity>
        <activity android:name=".ConstraintLayoutDemoActivity" />
        <activity android:name=".DateTimeDemoActivity" />
        <activity android:name=".ChronometerDemoActivity" />
        <activity android:name=".ProgressBarDemo2Activity" />
        <activity android:name=".ProgressbarDemoActivity" />
        <activity android:name=".SpinnerDemo" >

        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>